html, body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  body {
    display: flex;
    font-size: 40px;
  }
  
  .col {
    overflow: auto;
    max-height: 100vh;
    width: 33.33%;
  }

 